* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Pocket size: 3.5in x 2in => 336px x 192px at 96dpi */
.card {
  width: 336px;
  height: 430px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}




.front {
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, #ffffff, #f2f2f2);
  width: 45%;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #000;
  margin-bottom: 10px;
}

.front h1 {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}

.front p {
  font-size: 0.95rem;
  color: #555;
}

.back{
  width: 45%;
}

.back h2 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #111;
}

.back p {
  font-size: 0.9rem;
  margin: 4px 0;
  color: #333;
}

.socials {
  margin-top: 10px;
}